steps:
  - uses: actions/checkout@v4

  - uses: DeterminateSystems/nix-installer-action@v12
  - uses: DeterminateSystems/magic-nix-cache-action@v7

  - name: Build with Nix
    run: nix develop -c make all
